:root {
	--gray: rgb(58, 58, 58);

	--light-bg-color: white;
	--light-color: rgb(18, 18, 18);
	--light-gray: rgb(220, 220, 220);

	--dark-bg-color: rgb(18, 18, 18);
	--dark-color: white;
	--dark-gray: rgb(130, 130, 130);

	--normal-correct: rgb(107, 170, 100);
	--normal-contain: rgb(202, 180, 88);
	--normal-not-contain: rgb(58, 58, 58);

	--color-blind-correct: rgb(245, 121, 58);
	--color-blind-contain: rgb(133, 192, 249);
	--color-blind-not-contain: rgb(58, 58, 58);
}

/* 라이트 테마 */
body {
	margin: 0px;
	font-family: 'Noto Sans KR', sans-serif;

	background-color: var(--light-bg-color);
	color: var(--light-color);
}

.head-container {
	background-color: var(--light-bg-color);
}

.body .box {
	border: solid 2px var(--light-gray);
}

.box:not(.correct):not(.contain):not(.not-contain) {
	color: var(--light-color);
}

.word-container .box.underline {
	color: var(--light-color);
	border-bottom: solid 4px var(--light-color);
}

#snackbar {
	background-color: var(--gray);
	color: white;
}

/* 다크 테마 */
body.dark-mode {
	background-color: var(--dark-bg-color);
	color: var(--dark-color);
}

body.dark-mode .head-container {
	background-color: var(--dark-bg-color);
}

body.dark-mode .button {
	background-color: var(--dark-gray) !important;
}

body.dark-mode .word-container .box.underline {
	color: var(--dark-color);
	border-bottom: solid 4px var(--dark-color);
}

body.dark-mode #snackbar {
	background-color: var(--gray);
	color: white;
}

body.dark-mode .button,
body.dark-mode .box:not(.underline) {
	color: white !important;
}

body.dark-mode .box:not(.underline) {
	border: solid 2px var(--gray);
}

/* 일반 모드 */
body:not(.color-blind-mode) .button.key.correct,
body:not(.color-blind-mode) .box.back.correct {
	background-color: var(--normal-correct) !important;

	color: white !important;
}

body:not(.color-blind-mode) .box.back.correct {
	border: solid 2px var(--normal-correct) !important;
}

body:not(.color-blind-mode) .button.key.contain,
body:not(.color-blind-mode) .box.back.contain {
	background-color: var(--normal-contain) !important;

	color: white !important;
}

body:not(.color-blind-mode) .box.back.contain {
	border: solid 2px var(--normal-contain) !important;
}

body:not(.color-blind-mode) .button.key.not-contain,
body:not(.color-blind-mode) .box.back.not-contain {
	background-color: var(--normal-not-contain) !important;

	color: white !important;
}

body:not(.color-blind-mode) .box.back.not-contain {
	border: solid 2px var(--normal-not-contain) !important;
}

body:not(.color-blind-mode) input:checked + .slider {
	background-color: var(--normal-correct);
}

body:not(.color-blind-mode) input:checked + .slider {
	box-shadow: 0 0 1px var(--normal-correct);
}

body:not(.color-blind-mode) .share-button {
	background-color: var(--normal-correct);
}

/* 색약 모드 */
body.color-blind-mode .button.key.correct,
body.color-blind-mode .box.back.correct {
	background-color: var(--color-blind-correct) !important;

	color: white !important;
}

body.color-blind-mode .box.back.correct {
	border: solid 2px var(--color-blind-correct) !important;
}

body.color-blind-mode .button.key.contain,
body.color-blind-mode .box.back.contain {
	background-color: var(--color-blind-contain) !important;

	color: white !important;
}

body.color-blind-mode .box.back.contain {
	border: solid 2px var(--color-blind-contain) !important;
}

body.color-blind-mode .button.key.not-contain,
body.color-blind-mode .box.back.not-contain {
	background-color: var(--color-blind-not-contain) !important;

	color: white !important;
}

body.color-blind-mode .box.back.not-contain {
	border: solid 2px var(--color-blind-not-contain) !important;
}

body.color-blind-mode input:checked + .slider {
	background-color: var(--color-blind-correct) !important;
}

body.color-blind-mode input:checked + .slider {
	box-shadow: 0 0 1px var(--color-blind-correct) !important;
}

body.color-blind-mode .share-button {
	background-color: var(--color-blind-correct) !important;
}

/* 애니메이션 */
.shake {
	-moz-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	-webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
	10%,
	90% {
		transform: translate(-1px, 0);
	}

	20%,
	80% {
		transform: translate(2px, 0);
	}

	30%,
	50%,
	70% {
		transform: translate(-4px, 0);
	}

	40%,
	60% {
		transform: translate(4px, 0);
	}
}
@-moz-keyframes shake {
	10%,
	90% {
		transform: translate(-1px, 0);
	}

	20%,
	80% {
		transform: translate(2px, 0);
	}

	30%,
	50%,
	70% {
		transform: translate(-4px, 0);
	}

	40%,
	60% {
		transform: translate(4px, 0);
	}
}
@-webkit-keyframes shake {
	10%,
	90% {
		transform: translate(-1px, 0);
	}

	20%,
	80% {
		transform: translate(2px, 0);
	}

	30%,
	50%,
	70% {
		transform: translate(-4px, 0);
	}

	40%,
	60% {
		transform: translate(4px, 0);
	}
}

#snackbar {
	visibility: hidden;
	min-width: 240px;
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	bottom: 80px;
	padding: 8px;
	z-index: 10;
	text-align: center;
	border-radius: 4px;
	font-size: 1em;
	white-space: pre;
	word-break: keep-all;
}

#snackbar.show {
	visibility: visible;
	-moz-animation: fadein 0.5s, fadeout 0.5s 3s;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
	animation: fadein 0.5s, fadeout 0.5s 3s;
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 80px;
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 80px;
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 80px;
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		bottom: 80px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}
@-moz-keyframes fadeout {
	from {
		bottom: 80px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}
@-webkit-keyframes fadeout {
	from {
		bottom: 80px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

.flipper {
	margin: 4px;

	position: relative;
	transform-style: preserve-3d;
}

.flipper .box {
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: 0.75s;
	perspective: 300px;
}

.flipper .box.front {
	transform: rotateX(0deg);

	z-index: 2;
}

.flipper .box.front.flip {
	transform: rotateX(180deg);
}

.flipper .box.back {
	transform: rotateX(180deg);
}

.flipper .box.back.flip {
	transform: rotateX(0deg);
}
