body {
	margin: 0px;
	background-color: rgb(18, 18, 18);
}

div.button.correct {
	background-color: rgb(97, 140, 85);
}

div.button.contain {
	background-color: rgb(177, 160, 76);
}

div.button.not-contain {
	background-color: rgb(58, 58, 58);
}
